.container-text {
    height: 100vh; 
    max-height: 70%;
    color: black;
    position: relative;  
    margin: 0 20px; 
}
textarea.ant-input {
    position: relative; 
    height: calc(100vh - 142px) !important; 
    padding: 40px 20px;
    font-weight: 400;
    font-size: 16; 
    line-height: 1.7;
    min-height: 100%;
}
.title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 0;
}
.article-title {
    padding-bottom: 20px;
}
.display-title {
    padding-bottom: 52px;
}
.markdown {
    overflow: auto;
}