.ant-card-head .ant-card-head-title {
    font-size: 30px;
    font-weight: 700;
    font-family: lora;
}
.ant-card-head {
    padding: 0 0;
}
.ant-card-body {
    font-size: 15px;
    font-weight: 400;
    font-family: poppins;
    color: '#666'; 
    line-height: 1.8;
    padding: 10px 0; 
}
p,a {
    font-family: 'Lato', sans-serif;
}
div > a {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.815) !important;
    transition: 0.3s ease-in-out;
}

div > a:hover {
    text-decoration: none;
    color: rgba(59, 126, 226, 0.74) !important;
}