.container {
    color: white;
    text-align: center;
    padding: 5px 15px; 
}
.avatar {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.rounded-circle {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.12);
}

.main-background {
    background: url('../images/web-main-background.jpeg') no-repeat center center;
    filter: opacity(0.9) brightness(1.2);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    height: 60%;
    padding-top: 51px; 
    padding-bottom: 40px;
  }
  