.ant-menu-horizontal {
    border-bottom: none !important;
    font-size: 20px !important;
}
.ant-menu {
    padding: 0px 15px !important;
}
.ant-menu-item, .ant-menu-item-selected {
    border-bottom: none !important;
}
.ant-menu-item > a {
    color: black;
    transition: 0.3s ease-in-out
}
.ant-menu-item > a:hover {
    color: '#8a8caf' !important
}