.App {
  text-align: center;
}

.main-background {
  background: url('./images/web-main-background.jpeg') no-repeat center center;
  filter: opacity(0.9) brightness(1.2);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: 60%;
  padding-top: 51px; 
  padding-bottom: 40px;
}
